$header-background-color: #039be5;
$header-height: 4em;

$input-height: 2em;
$checkbox-height: 2em;
$select-height: 2em;
$toggle-height: 2em;
$button-height: 2em;

$height-top-bar: 4.5rem;

//==== TOP BAR ================
$color-top-bar: rgba(5,72,119,1);// p4
$top-bar-title: rgba(255,255,255,1); // p4


$color-error: #F32332;
$color-bg-error: #F32332;
$color-border: #77a2c5;
$color-border-active: #2196F3;

$color-input-bg: #FFF;
$color-input-fg: #333;

$color-button-fg:#FFF;
$color-button-bg:#2196F3;

$color-link:#2196F3;

$color-tabbutton-fg: #b2b2b2;
$color-tabbutton-fg-active: #2196F3;
$color-tabbutton-border-active: #2196F3;
$size-tabbutton-border-active: 2px;
$color-tabbutton-bg: transparent;
$color-tabbutton-counter-fg: #FFF;
$color-tabbutton-counter-bg: #F32332;

$size-border: 1px;
$size-border-active: 2px;
$size-input-h-md: 30px;
$size-input-i-md: 20px;
$size-input-i-sm: 10px;

$size-input-h-lg: 55px;
$size-input-i-lg: 30px;

$size-f-toplabel: 12px;
$size-f-input: 16px;
$margin-xs: 1px;
$margin-sm: 3px;
$margin-md: 6px;
$margin-lg: 12px;
$margin-xl: 24px;

$color-list-item-fg:black;
$color-list-item-active-fg:#2196F3;




@mixin touch-scroll{
	overflow-y: auto;
	@supports (-webkit-overflow-scrolling: touch) {
		/* CSS specific to iOS devices */ 
		overflow-y:scroll !important;  
		-webkit-overflow-scrolling:touch !important;
	}
}