html { 
    // touch-action: pan-x; this prevents scrolling!
  user-select: none;
	position: relative;
	overflow: hidden;
	height: 100%;
} 
body {
	font-size: 14px;  // =14px 
	padding: 0;
    margin: 0;
}


[page]{
	position: absolute;
	width: 100%;
	height: 100%;
}

.scroll, .touch-scroll{
	overflow: auto;
	@supports (-webkit-overflow-scrolling: touch) {
		/* CSS specific to iOS devices */ 
		-webkit-overflow-scrolling: touch;
		overflow:scroll;
	}
}
.fill {
	height: 100%;
}