@use 'variables';

html {
	overflow: hidden;
}

html, body { 
    position: relative;
	height: 100%;
	font-family: var(--tm-font-family);
	font-size: 14px;
	background: var(--tm-body-background);
	color: var(--tm-body-color);
	padding: 0;
    margin: 0;
}


[page]{
	position: absolute;
	width: 100%;
	height: 100%;
}

.scroll, .touch-scroll{
	overflow: auto;
	@supports (-webkit-overflow-scrolling: touch) {
		/* CSS specific to iOS devices */ 
		-webkit-overflow-scrolling: touch;
		overflow:scroll;
	}
}
.fill {
	height: 100%;
}