@import '_variables';
input[type=text], 
input[type=email], 
input[type=password], 
input[type=number], 
input[type=date], 
input[type=tel], 
select,
select-multiple,
.input
{
    box-sizing:border-box;
    font-size: $size-f-input;
    padding: $margin-sm 0;
    width:100%;
    -webkit-border-radius:0; 
    border-radius:0;
	border: 1px solid #BBB;

	-webkit-appearance: none;

	background-position: 99% 50%;
	background-repeat: no-repeat;
	//height: $size-input-h-md;
	background-size: $size-input-i-md;
	background-color: transparent;
	color: $color-input-fg;
	padding-right: $size-input-i-md; //this used for hiding text under icon	
	&:focus{
		outline:none;
	}
}
.fieldgroup	div.icon{
	position: absolute;
	top: 0;
	right: $margin-sm;
	font-weight: bold;
	font-size: $size-f-input;
	pointer-events: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&[onclick]{
		pointer-events: all;
	}
}
input[date]{
    //background-image: url(../img/calendar_ico.png);
}
input[dateTime]{
    //background-image: url(../img/calendar_ico.png);
}
input[time]{
    //background-image: url(../img/clock_ico.png);
}

select,
select-multiple{
	background-image: url(../img/angle-down-solid.svg);
	background-size: $size-input-i-sm;
}
.formgroup {
	button,
	input[type=button]
	{
		width: auto;
		color: $color-button-fg;
		background-color: $color-button-bg;
		border: none;
		border-radius: 3px;
		padding: $margin-lg $margin-lg;
		font-size: $size-f-input;
		box-shadow: 0px 0px 3px 0px #000000ab;
		-webkit-appearance: none;
	}

	input[type=button]:active ,button:active {
		filter: brightness(0.75);
		outline: none;
		box-shadow: none;
	}
}

input[type=button]:focus ,button:focus{
	outline: none;
}

button[none],
input[type=button][none]
{
	width: auto;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	box-shadow: none;
}



input[type=checkbox]{
    -webkit-appearance: none;
    border-radius:0;
    border: 1px solid #BBB;
   
    box-sizing:border-box;
    height: 25px;
    width: 25px;
    margin-left: 0;
    vertical-align: middle;
    margin-bottom: 5px;
}
input[type=checkbox]:checked{
    background-image: url(../img/blue_dot.png);
    background-position: 50% 50%;
    background-size: cover;
}
textarea {
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    height: 80px;
    -webkit-border-radius:0; 
    -webkit-appearance: none;
    border-radius:0;
    border: 1px solid #BBB;
}

@keyframes focus_blink {
	50% {
		border-bottom: $size-border solid $color-border;
	}
}
.fieldgroup {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: $margin-lg;
	*{
		box-sizing: border-box;
	}
	.fieldgroup:first-child{
		padding-top: $margin-lg;
	}

	input[type=text], 
	input[type=email], 
	input[type=password], 
	input[type=number], 
	input[type=date],
	input[type=tel],
	textarea,
	select,
	select-multiple,
	.input
	{
		font-size: $size-f-input;
		border-collapse: collapse;
		padding-left: 0;
		border: none;
		border-bottom: $size-border solid $color-border;
		-webkit-appearance: none;
		&:focus, &.focus, &.focus-blink{
			outline: none;
			box-shadow: none;
			border-bottom: $size-border-active solid $color-border-active;
			margin-bottom: -1px;
		}
		&[readonly]:focus, &.focus-blink{
			animation: focus_blink 0.5s;
			animation-iteration-count: 3;
		}
		width: 100%;
		
	}
	
	label {
		color: #333;
		z-index: 5;
		background-color: transparent;
		padding-left: 0;
		font-size: $size-f-toplabel;
		text-align: left;
	}
	&.short {
		padding-bottom: 2rem;
		.label {
			margin-left: 0.5rem;
		}
	}
	.hint {
		font-size: 12px;
		&.error {
			color: $color-error;
		}
	}
	.message{
		text-align: center;
		font-size: 1.25em;
	}
	.split-input {
		display: flex;
		.short{
			width:3em,
		}
	}
	.split{
		width: 50%;
		padding-right: $margin-md;
		position: relative;
		.icon {
			right: $margin-sm + $margin-md;
		}
		&:last-child{
			padding-right: 0px;
			.icon {
				right: $margin-sm;
			}
		}
	}
	.info-btn {
		color: #0874B7;
		margin-left:$margin-md;
	}
	.fieldrow {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap; //allow 100% wide children to form column
		&.field >* {
			//padding-bottom: $margin-md;
		}
	}
}
//custom override for select-multiple
select-multiple{
	padding:0 !important;
	>div{
		height: 100%;
		padding: 3px 0px;
		margin-right: 1em;
	}
}
//fildgroup with label in it
.fieldgroup .fieldrow.field{
	>div.label{
		color: #333;
		font-size: $size-f-input;
		width: 100%;
		align-self: center;
		&.link{
			text-decoration: underline;
			color: $color-link;
		}
	}
	>div.link{
		width: 100%;
		font-size: $size-f-input;
		text-decoration: underline;
		color: $color-link;
		align-self: center;
	}
}
//special case: label contains input[file]
.fieldgroup {
	label.input{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		background-image: url(../img/file_ico.png);
		input[type=file]{
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}	
	}
}

//special case: label contains inpuit chechbox
.fieldgroup{
	label.toggle{
		display:flex;
		width: 100%;
		font-size: $size-f-input;
		padding: $margin-md 0  $margin-md 0;
		input[type=checkbox],input[type=radio] {
			display: none;
			&:checked {
				&+.slider {
					background-color: #2196F3;
					&:before {
						transform: translateX(30px);
					}
				}
				&+.radio {
					//background-color: #2196F3;
					&:before {
						box-shadow: 0 0 2px #333;
						background-color: #2196f3;
						opacity: 1;
					}
				}
			}
			&:focus {
				&+.slider {
					box-shadow: 0 0 1px #2196F3;
				}
				/*&+.radio {
					box-shadow: 0 0 1px #2196F3;
				}*/
			}
		}
		.slider {
			position: relative;
			cursor: pointer;
			background-color: #ccc;
			transition: .4s;
			width: 55px; 
			min-width: 55px;
			height: 22px; 
			margin-left: auto;
			&:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: -1px;
				bottom: -1px;
				top: -2px;
				background-color: white;
				transition: .2s;
				box-shadow: 0 0px 2px #333;
			}
			&.round {
				border-radius: 34px;
				margin-right: 4px;
				&:before {
					border-radius: 50%;
				}
			}
		}
		.radio {
			position: relative;
			cursor: pointer;
			background-color: #fff;
			transition: .4s;
			width: 26px;
			min-width: 26px;
			height: 26px;
			margin-left: 0;
			border: 1px solid #2196f3;

			border-radius: 34px;
			margin-right: $margin-md;
			padding: 4px;
			&:before {
				//position: absolute;
				display: block;
				content: "";
				height: 100%;
				width: 100%;
				transition: 0.3s;
				opacity: 0;
				border-radius: 50%;
			}
		}
	}
}

div[ion-fab]{

	position: absolute;
	z-index: 10;
	
	&[round]{
		width: $size-input-h-lg;
		height: $size-input-h-lg;
		button{
			position: relative;
			border-radius: $size-input-h-lg;
			font-size: $size-input-i-lg;
			width: 100%;
			height: 100%;
			padding: 0;
		}
	}
	
	&[top]{
		top: $margin-lg;
	} 
	&[right]{
		right: $margin-lg;
	}
	&[bottom]{
		bottom: $margin-lg;
	}
	&[left]{
		left: $margin-lg;
	}
	button{
		position: relative;
	}
}

button{
	&[text-only]{
		background-color: transparent !important;
		border: none !important;
		box-shadow: none !important;
	}
	&[outline]{
		background-color: transparent !important;
		border: $size-border solid $color-border !important;
		color:$color-border !important;
		box-shadow: none !important;
	}
	&[link]{
		color: $color-link !important;
	}
}



