button[none],
input[type=button][none] {
	width: auto;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	box-shadow: none;
}

button,
input[type=button] {
	&:focus {
		outline: none;
	}
}

.fieldgroup {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: var(--tm-margin-lg);

	* {
		box-sizing: border-box;
	}

	input[type=text],
	input[type=email],
	input[type=password],
	input[type=number],
	input[type=date],
	input[type=tel],
	textarea,
	select,
	select-multiple,
	.input {
		font-size: var(--tm-size-f-input);
		border-collapse: collapse;
		padding-left: 0;
		border: none;
		border-bottom: var(--tm-size-border) solid var(--tm-color-border);
		margin-bottom: calc(var(--tm-size-border-active) - var(--tm-size-border)); //space for the border
		-webkit-appearance: none;
		padding: var(--tm-margin-sm) 0;
		//padding-right: var(--tm-size-input-i-md); //this used for hiding text under icon	
		background-color: transparent;
		width: 100%;

		&[disabled],
		&[readonly] {
			border-bottom: var(--tm-size-border) solid var(--tm-color-border-disabled);
		}

		&:focus,
		&.focus,
		&.focus-blink {
			outline: none;
			box-shadow: none;
			border-bottom: var(--tm-size-border-active) solid var(--tm-color-border-active);
			margin-bottom: 0;
		}

		&[readonly]:focus,
		&.focus-blink {
			animation: focus_blink 0.5s;
			animation-iteration-count: 3;
		}
	}

	textarea {
		min-height: 4em;
		width: 100% !important;
	}

	&.hasIcon {

		input[type=text],
		input[type=email],
		input[type=password],
		input[type=number],
		input[type=date],
		input[type=tel],
		textarea,
		select,
		select-multiple,
		.input {
			padding-right: var(--tm-size-input-i-md);
		}
	}

	div.icon {
		position: absolute;
		top: 0;
		right: var(--tm-margin-sm);
		font-weight: bold;
		font-size: var(--tm-size-f-input);
		pointer-events: none;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		padding-left: inherit;
		padding-right: inherit;

		&[onclick] {
			pointer-events: all;
		}
	}

	>label {
		color: #333;
		z-index: 5;
		background-color: transparent;
		padding-left: 0;
		font-size: var(--tm-size-f-toplabel);
		text-align: left;
		display: inline-block;
		white-space: nowrap;
		height: 1.0em;
		line-height: 1em;

		i {
			color: #0874B7;
			margin-left: var(--tm-margin-sm);
		}
	}

	&.label {
		label {
			white-space: normal;
			height: auto;
		}
	}

	&.short {
		padding-bottom: 20px;

		.label {
			margin-left: 5px;
		}
	}

	.hint {
		font-size: 12px;

		&.error {
			color: var(--tm-color-error);
			white-space: pre-wrap;
		}
	}

	.message {
		text-align: center;
		font-size: 1.25em;
	}

	.split-input {
		display: flex;

		.short {
			width: 3em,
		}
	}

	.split {
		width: 50%;
		padding-right: var(--tm-margin-md);
		position: relative;

		.icon {
			right: calc(var(--tm-margin-sm) + var(--tm-margin-md));
		}

		&:last-child {
			padding-right: 0px;

			.icon {
				right: var(--tm-margin-sm);
			}
		}
	}

	/*&.filled,
  &.active{
    label {
      top: 0;
      font-size: 12px;
      pointer-events: all;
    }
  }*/

	/*.label {
    color: #333;
    z-index: 5;
    background-color: transparent;
    padding-left: 0;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    position: absolute;
    top: 1em;
    transition: all 0.5s ease;
    pointer-events: none;
  }*/
	.fieldrow {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap; //allow 100% wide children to form column
		overflow: hidden;
	}

	&.required {
		>label:first-child:after {
			content: '*';
			color: red;
			padding-left: 5px;
		}
	}

	&.checkbox {
		align-self: center;
	}

	@keyframes focus_blink {
		50% {
			border-bottom: var(--tm-size-border-active) solid var(--tm-color-border);
		}
	}
}

//custom override for select-multiple
select-multiple {
	padding: 0 !important;

	>div {
		height: 100%;
		padding: 3px 0px;
		margin-right: 1em;
	}
}

//fildgroup with label in it
.fieldgroup {
	>div.label {
		color: #333;
		font-size: var(--tm-size-f-input);
		width: 100%;
		align-self: center;
		//padding: var(--tm-margin-sm) 0;
		padding-right: var(--tm-size-input-i-md); //this used for hiding text under icon	

		&.link {
			text-decoration: underline;
			color: var(--tm-color-link);
		}
	}

	>div.link {
		width: 100%;
		font-size: var(--tm-size-f-input);
		text-decoration: underline;
		color: var(--tm-color-link);
		align-self: center;
		padding: var(--tm-margin-sm) 0;
		padding-right: var(--tm-size-input-i-md); //this used for hiding text under icon	
	}
}

//special case: label contains input[file]
.fieldgroup {
	.input {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		height: auto;
		line-height: inherit;

		span {}

		//background-image: url(../img/file_ico.png);
		input[type=file] {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
	}
}

.fieldgroup.file {
	overflow: hidden;
}

//special case: label contains inpuit chechbox
.fieldgroup {

	label.radio,
	label.toggle {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: var(--tm-size-f-input);
		padding: var(--tm-margin-md) 0 var(--tm-margin-md) 0;
		height: auto;

		.text {
			max-width: 100%;
			white-space: break-spaces;
		}

		input {
			display: none;

			&:checked {
				&+.slider {
					background-color: #2196F3;

					&:before {
						transform: translateX(1.75em);
					}
				}

				&+.radio {
					//background-color: #2196F3;
					border-color: #2196f3;

					&:before {
						background-color: #2196f3;
						opacity: 1;
					}

					&.square {
						&:before {
							background-color: transparent;
							content: '\2714';
							color: #2196f3;
							font-size: 1.25em;
							font-weight: bold;
						}
					}
				}

			}

			&:focus {
				&+.slider {
					box-shadow: 0 0 1px #2196F3;
				}

				&+.radio {
					//box-shadow: 0 0 1px #2196F3;
					border-color: #333;
				}
			}
		}

		.slider {
			position: relative;
			cursor: pointer;
			background-color: #ccc;
			transition: .4s;
			width: 3em;
			min-width: 3em;
			height: 1.375em;
			margin-left: auto;

			&:before {
				position: absolute;
				content: "";
				height: 1.5em;
				width: 1.5em;
				left: -1px;
				top: -0.05em;
				background-color: white;
				transition: .2s;
				box-shadow: 0 0px 2px #333;
			}

			&.round {
				border-radius: 1em;
				margin-right: 4px;

				&:before {
					border-radius: 50%;
				}
			}

			&.square {
				border-radius: 0em;
				margin-right: 4px;

				&:before {
					border-radius: 0%;
				}
			}
		}

		.radio {
			position: relative;
			cursor: pointer;
			background-color: #fff;
			transition: .4s;
			width: 26px;
			min-width: 26px;
			height: 26px;
			margin-left: 0;
			border: 1px solid #333;

			//
			margin-right: var(--tm-margin-md);
			padding: 4px;

			&:before {
				//position: absolute;
				display: block;
				content: "";
				height: 100%;
				width: 100%;
				transition: 0.3s;
				opacity: 0;
				//border-radius: 50%;
			}

			&.round {
				border-radius: 50%;
				border: 2px solid #9e9e9e;

				&:before {
					border-radius: 50%;
				}
			}

			&.square {
				border-radius: 2px;
				border: 2px solid #9e9e9e;

				&:before {
					border-radius: 0;
				}
			}
		}

		i[onclick] {
			color: #0874B7;
			margin-left: var(--tm-margin-sm);
			cursor: pointer;
		}

	}

	&.required {
		>label.toggle:first-child:after {
			display: none;
		}

		>label>span.text:after {
			content: '*';
			color: red;
			padding-left: 5px;
		}
	}

	&.flat {
		label.toggle {
			width: auto;
			margin-right: var(--tm-margin-lg);
		}
	}
}

div[ion-fab] {

	position: absolute;
	z-index: 10;

	&[round] {
		width: var(--tm-size-input-h-lg);
		height: var(--tm-size-input-h-lg);

		button {
			border-radius: var(--tm-size-input-h-lg);

			width: 100%;
			height: 100%;
			padding: 0;
		}
	}

	&[top] {
		top: var(--tm-margin-lg);
	}

	&[right] {
		right: var(--tm-margin-lg);
	}

	&[bottom] {
		bottom: var(--tm-margin-lg);
	}

	&[left] {
		left: var(--tm-margin-lg);
	}

	button {
		position: relative;
		font-size: var(--tm-size-input-i-lg);
		padding: 6px 12px;
		background-color: var(--tm-color-button-bg);
		color: var(--tm-color-button-fg);
		border: none;
		box-shadow: var(--tm-shadow-b-up);

		&:active {
			box-shadow: var(--tm-shadow-b-down);
		}
	}
}

button {
	&[text-only] {
		background-color: transparent !important;
		border: none !important;
		box-shadow: none !important;
	}

	&[outline] {
		background-color: transparent !important;
		border: var(--tm-size-border) solid var(--tm-color-border) !important;
		color: var(--tm-color-border) !important;
		box-shadow: none !important;
	}

	&[link] {
		color: var(--tm-color-link) !important;
	}
}


@keyframes moving-gradient {
	0% {
		background-position: left bottom;
	}

	100% {
		background-position: right bottom;
	}
}

.fieldgroup.isLoading {
	background: -webkit-linear-gradient(left,
			rgba(255, 255, 255, 0) 30%,
			#89c8fb 100%) repeat;

	background-size: 50% 100%;
	animation-name: moving-gradient;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}