#page-OptionsDialogPage{
	.dialog-content.touch-scroll {
		padding: var(--tm-margin-lg);
		padding-top: 0;
		padding-bottom: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		color: var(--tm-color-list-item-fg);
		font-size: 1.15em;
		&.hideOverflow{
			div.item > div{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		color: var(--tm-color-list-item-fg);
		&[selected] {
			color: var(--tm-color-list-item-active-fg);
		}
		i{
			padding-top: 3px; //nudge to the v-center
			margin-right: var(--tm-margin-lg);
		}
		img{
			//margin-right: var(--tm-margin-lg);
			max-width: 2em;	
			max-height:2em;	
		}
		div.item {
			border-bottom: var(--tm-dialog-border);
			display: block;
			margin-right: 0;
			margin-left: 0;
			padding: var(--tm-margin-lg) 0;
			width: 100%;
			
			.item-text{
				font-size: 0.9em;
			}
			.item-title{
				font-size: 1em;
			}
			
		}
		&:last-child {
			div.item {
				border-bottom: none;
			}
		}
	}
}
