div[page].page-ActionSheetPage{
		width:100%;
		right:0px;
		top: 0px;
		bottom:0;
		
		opacity:1;
	
		transform: translate3d(0,0,0) !important;

		position:absolute;
		overflow-x: hidden;
		overflow-y: hidden;
		
		display: flex;
		align-items: flex-end;
		justify-content: center;
		
	.backdrop{
		position: absolute;
		//top: var(--tm-header-height);
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.50);
		content: ' ';
	}
	//Initial CSS for when the page has just been created
	.menu-body{
		//position: absolute;
		//left: 0;
		bottom:0;
		
		width: 100%;
		transform: translate3d(0,100%,0);

		ul {
			//@include touch-scroll;
			
			list-style: none outside none;
			margin: 0;
			padding: 0;
			padding-right: 1em;
			position: relative;
			background-color: #054877;
			max-width: 350px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 10px 10px 0 0;
			padding: var(--tm-margin-md);
			li {
				position: relative;
				display: flex;
				align-items: center;
				margin-left: 1em;
				color: #e9e9e9;
				i, img{
					margin-right: 0.2em;
					display: inline-block;
					width: 1.0em;
					max-height: 2em;
					text-align: center;
					font-size: 1.5em;		
				}
				span{
					display: block;
					width: 100%;
					//font-family: OSbold!important;
					//text-transform: uppercase;
					cursor: pointer;
					padding: 15px 10px;
					border-bottom: 1px solid rgba(100, 100, 100, 0.5);
					
				}

				&:focus,li:active{
					color: #039be5;
					background-color:#4a4a4a
				}
				&[selected] > span{
					color: #e1e1a3 !important;
				}
				&:last-child span{
					border: none;
				}
			}
		}
	}
	
	&[creating], &[visible] {
		.menu-body{
			transform: translate3d(0,0,0);
			transition: transform ease 0.3s;
		}
		.backdrop{
			opacity: 1;
			transition: opacity ease 0.3s;
		}
	}
	&[deleting] {
		.menu-body{
			transform: translate3d(0,100%,0);
			transition: transform ease 0.3s;
		}
	}

}
