#page-Calendar2Page{
	--c-bo-month: 1px solid #ededed;
	--c-f-extra: #2196F3;
	--c-b-current: #178101;
	--c-f-current: #fff;
	--c-b-internal: #266eab;
	--c-f-internal: #fff;
	--c-b-external: #FCEE98;
	--c-f-external: #000;
	--c-f-tab: #656363;
	--c-tab-border: #E91E63;
	--c-bo-sel-day: 2px solid #E91E63;
	--c-b-day-ev-allday: #d1e9ff;
	--c-bo-day-ev-internal: 4px solid #266eab;
	--c-bo-day-ev-external: 4px solid #FFC107;
	--c-bo-day-ev-current: 4px solid #178101;
	--c-b-day-ev: #f4f4f9;
	--s-day-ev: 1px 1px 2px 0 rgba(41, 41, 41, 0.5);
	--s-month-ev: 1px 1px 2px 0 rgba(41, 41, 41, 0.5);
	--c-b-body: #fff;
	--c-b-day-hour-even: #f5f5f5;
	--c-b-day-hour-odd: #fff;
	--c-b-day-border: #ededed;
	--c-bo-nav: 1px solid #e2e2e2;
	--c-b-nav: aliceblue;

	*{
		box-sizing: border-box;
	}
	.touch-scroll{
		overflow: visible !important;
	}
	.tabs-container{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.tabs{
		height: 100%;
		position: relative;
		overflow: hidden;
		&>div{
			height: 100%;
			width: 100%;
			opacity: 0;
			position: absolute;
			display: flex;
			flex-direction: column;
			transform: scale(0.25);
			transition: transform 0.3s ease-in, opacity 0.3s ease-in;
			&[selected]{
				opacity: 1;
				z-index: 1;
				transform: scale(1);
			}
		}
		button{
      border: none;
			background-color: transparent;
			box-shadow: none;
		}

	}
	.tab-buttons li{
		font-size:20px;
		line-height:20px;
		margin: 0;
		padding: 12px 0px;
		color: var(--c-f-tab);
		&[selected]{
			border-bottom: 3px solid var(--c-tab-border);
		}
	}
	.allday-events{
		padding-left: 50px;
		.event {
			padding: 5px;
			background-color: var(--c-b-day-ev-allday);
			margin-bottom: 2px;
			box-shadow: 1px 1px 2px 0 rgba(0,0,255,.5);
		}
	}
	.day-slides-wrapper{
		position: relative;
	}
	.day-events{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		transition: transform 0.3s ease-in-out;
		&.slidefromleft{
			transform: translateX(-100%);
		}
		&.slidefromright{
			transform: translateX(100%);
		}
		&.slidetoleft{
			transform: translateX(-100%);
		}
		&.slidetoright{
			transform: translateX(100%);
		}
		
		table{
			width: 100%;

			//position: absolute;
			
			border-spacing: 0px;
			border-collapse: collapse;
			table-layout: fixed;
			tbody tr{
				height: 60px;
				background: var(--c-b-day-hour-odd)
			}
			tr:nth-child(even) {
				background: var(--c-b-day-hour-even);
			}
			tbody td{
				border: 1px solid var(--c-b-day-border);
				padding: 0;
				&.eventColumn{
					vertical-align: text-bottom;
				}
				&.hourColumn{
					font-size: 1em;
					padding: 0 5px;
					.amLabel{
						font-size: 0.75em;
					}
				}
				.slots {
					position: relative;
					.event{
						position: absolute;
						overflow: hidden;
						min-height: 20px;
						width: 100%;
						background-color: var(--c-b-day-ev);
						border-left: var(--c-bo-day-ev-external);
						padding: 0 5px;
						box-shadow: var(--s-day-ev);
						&.internal{
							border-left: var(--c-bo-day-ev-internal);
						}
						&.current{
							border-left: var(--c-bo-day-ev-current);
						}
					}
				}
			}
		}
	}

	.calendar{
		height: 100%;
		position: relative;
		table{
			width: 100%;
			height: 100%;
			background-color: var(--c-b-body);

			position: absolute;
			
			border-spacing: 0px;
			border-collapse: collapse;
			table-layout: fixed;

			transition: transform 0.3s ease-in-out;
			&.slidefromleft{
				transform: translateX(-100%);
			}
			&.slidefromright{
				transform: translateX(100%);
			}
			&.slidetoleft{
				transform: translateX(-100%);
			}
			&.slidetoright{
				transform: translateX(100%);
			}
	
			thead td{
				text-align: center;
				padding: 6px 0;
			}
			tbody tr{
				height: 16.5%;
			}
			tbody td {
				vertical-align: top;
				width: 14.28%;
				border: var(--c-bo-month);
				padding: 0;
				//overflow-y: hidden;
				position: relative;

					.date {
						font-size: 14px;
						height: 19px;
						text-align: right;
						padding-right: 3px;
						b{ //extra events counter
							float: left;
							color: var(--c-f-extra);
							padding-left: 5px;
						}
					}
					.slots{
						position: relative;
						.apt{
							position: absolute;
						}
					}
					.apt{
						padding: 0 2px;
						min-width: 100%;
						font-size: 10px;
						line-height: 12px;
						height: 12px;
						overflow: hidden;
						background-color: var(--c-b-external);
						word-break: break-all;
						box-shadow: var(--s-month-ev);
						&.internal{
							color: var(--c-f-internal);
							background-color: var(--c-b-internal);
						}
						&.current{
							color: var(--c-f-current);
							background-color: var(--c-b-current);
						}
						&.empty {
							background-color: initial !important;
						}
						&.expand-2{
							width:calc(28.0vw);
						}
						&.expand-3{
							width:calc(42.5vw);
						}
						&.expand-4{
							width:calc(56.5vw);
						}
						&.expand-5{
							width:calc(70vw);
						}
						&.expand-6{
							width:calc(84vw);
						}
						&.expand-7{
							width:calc(98vw);
						}
						&.slot-0{
							top:0px;
						}
						&.slot-1{
							top:15px;
						}
						&.slot-2{
							top:30px;
						}
						&.slot-3{
							top:45px;
						}
						&.slot-4{
							top:60px;
						}
						&.slot-5{
							top:75px;
						}
						&.slot-6{
							top:90px;
						}
					}

				&[selected]{
					>.frame { 
						top: 0;
						position: absolute;
						border: var(--c-bo-sel-day);
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
	.month-buttons{
		display: flex;
		background-color: var(--c-b-nav);
		border-bottom: var(--c-bo-nav);
		button{
			color: var(--c-f-tab);
			border-radius: 50%;
      background-color: transparent;
      border: none;
			width: 2.5em;
			height: 2.5em;
			padding: .5em;
			line-height: 1em;
			&:active{
				transition: background-color 0.1s ease;
				background-color: rgba(147, 145, 145, 0.5);
			}
		}
		&>div{
			margin:auto;
			//padding:1em;
			&>button{
        border: none;
				width: auto;
				border-radius: var(--tm-margin-sm);
			}
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
  }
}
