.page-DialogPage {
	position: absolute;
	height: 100%;
	width: 100%;

	transform: translate3d(0, 0, 0) !important;

	&[showing],
	&[visible],
	&[creating] {
		.backdrop {
			opacity: 1;
		}
	}

	.html {

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			margin: var(--tm-margin-md) 0;
		}
	}


	>.backdrop {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		font-size: 1.0em;
		background-color: rgba(0, 0, 0, 0.5);

		transition: opacity 0.3s ease;
		align-items: center;
		display: flex;
		justify-content: center;


		>.popup {

			background-color: var(--tm-dialog-background);
			color: var(--tm-dialog-color);
			border: var(--tm-dialog-border);
			margin-left: 25px;
			margin-right: 25px;
			min-width: 325px;
			border-radius: 10px;
			overflow: hidden;
			max-width: 540px;

			>.title,
			>.prompt {
				box-sizing: border-box;
				text-align: center;
				width: 100%;
				padding: 10px 20px;
				font-size: 16px;
				color: #000000;
			}

			>.title {
				font-weight: bold;
				border-bottom: var(--tm-dialog-border);
			}

			>.dialog-content {
				padding: var(--tm-margin-lg);
		
				.fieldgroup:last-child {
					//last fieldgroup has no margin
					margin-bottom: 0;
				}
		
				.align-block-center {
					display: flex;
		
					>div {
						margin: auto;
					}
				}
			}

			>.dialog-buttons {
				position: relative;

				border-top: var(--tm-dialog-border);

				// color: #ccc;
				display: flex;

				height: 45px;
				width: 100%;
				white-space: nowrap;

				button {
					background: var(--tm-dialog-button-background);
					color: var(--tm-dialog-button-color);
					border: none;
					display: block;
					margin: 0;
					width: 100%;
					height: 100%;
					border-radius: 0;
					font-size: 16px;
					font-weight: bold;
					box-shadow: none;
					border-right: var(--tm-dialog-border);

					&:last-child {
						border-right: none;
					}

					&:active {
						filter: brightness(0.8);
						//background-color: #e7e7e7;
					}
				}
			}
		}
	}

	//optional style overrides
	&.large {
		.popup {
			width: 100%;
		}
	}

	.dialog-content {
		.row {
			margin-left: calc(var(--tm-margin-md) * -1);
			margin-right: calc(var(--tm-margin-md) * -1);
		}

		.col,
		.col-1,
		.col-2,
		.col-3,
		.col-4,
		.col-5,
		.col-6,
		.col-7,
		.col-8,
		.col-9,
		.col-10,
		.col-11,
		.col-12,
		.col-auto,
		.col-lg,
		.col-lg-1,
		.col-lg-2,
		.col-lg-3,
		.col-lg-4,
		.col-lg-5,
		.col-lg-6,
		.col-lg-7,
		.col-lg-8,
		.col-lg-9,
		.col-lg-10,
		.col-lg-11,
		.col-lg-12,
		.col-lg-auto,
		.col-md,
		.col-md-1,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-10,
		.col-md-11,
		.col-md-12,
		.col-md-auto,
		.col-sm,
		.col-sm-1,
		.col-sm-2,
		.col-sm-3,
		.col-sm-4,
		.col-sm-5,
		.col-sm-6,
		.col-sm-7,
		.col-sm-8,
		.col-sm-9,
		.col-sm-10,
		.col-sm-11,
		.col-sm-12,
		.col-sm-auto,
		.col-xl,
		.col-xl-1,
		.col-xl-2,
		.col-xl-3,
		.col-xl-4,
		.col-xl-5,
		.col-xl-6,
		.col-xl-7,
		.col-xl-8,
		.col-xl-9,
		.col-xl-10,
		.col-xl-11,
		.col-xl-12,
		.col-xl-auto {
			position: relative;
			width: 100%;
			padding-right: var(--tm-margin-md);
			padding-left: var(--tm-margin-md);
		}
	}
}
