simple-tabs,
.simple-tabs {
	>ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
		padding: 0;
		margin: 0;
		list-style: none;
		li {
  			cursor: pointer;
			color: var(--tm-tab-button-color);
			background-color: var(--tm-tab-button-background-color);
			border-bottom: 2px solid transparent;

			&[selected] {
				border-bottom-color: var(--tm-border-active);
				color: var(--tm-tab-button-color-active);
				font-weight: 500;
			}
		}
	}
	div.tab {
		display: none;
		&[selected] {
			display: block;
		}
	}
}
