simple-tabs {
	button{
		i {
			color: var(--tm-color-tabbutton-fg);
			font-size:20px;
			display:block;
		}
		span {
			color: var(--tm-color-tabbutton-fg);
			font-size:10px;
			display:block;
		}
		&.active, &[selected] {
			//border-bottom: var(--tm-size-tabbutton-border-active) solid var(--tm-color-tabbutton-border-active);
			//border-bottom-color: var(--tm-color-tabbutton-fg-active);
			i, span {
				color: var(--tm-color-tabbutton-fg-active) !important;
			}
		}
	}
}
