div[page].page-Menu{
		display:block;
		width:100%;
		top: 0;
		left:0px;
		//background-color:black;
		
		opacity:1;
	
		transform: translate3d(0,0,0) !important;
		//transition: opacity 0.5s ease-out;
		position:absolute;
		bottom: 0px;
		overflow-x: hidden;
		overflow-y: hidden;

	.backdrop{
		position: absolute;
		//top: var(--tm-header-height);
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.50);
		content: ' ';
	}
	//Initial CSS for when the page has just been created
	&.left {
		.menu-body {
			margin-left: 0;
			transform: translate3d(-100%,0,0);
		}
	}
	&.right {
		.menu-body {
			margin-left: auto;
			transform: translate3d(100%,0,0);
		}
	}	
	.menu-body{
		background-color: #054877;
		width: 80%;
		max-width: 350px;
		height: 100%;
		transform: translate3d(-100%,0,0);
		
		.menu-head{
			border-radius: 1px;
			background-color: #fff;
			color: #11497f;
			font-size: 17px;
			padding:50px 10px;
			#logo{  
				display: flex;
				justify-content: center;
				//margin-bottom:20px;
				//background-image: url(../../img/logo/NAS_logoLarge.png);
				height:70px;
				background-size: contain;
				background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
			}
			#slogan{
				text-align: center;
			}
			p{
				text-align:center;
				margin: 0;
				padding-bottom: 1em;
			}
		}
	
		ul {
			//@include touch-scroll;
			
			list-style: none outside none;
			margin: 0;
			padding: 0;
			padding-right: 1em;
			position: relative;

			li {
				position: relative;
				display: flex;
				align-items: center;
				margin-left: 1em;
				//@include effect-tap-ripple;
				font-size: var(--tm-size-f-md);
			}
			li > span{
				display: block;
				width: 100%;
				//font-family: OSbold!important;
				//text-transform: uppercase;
				cursor: pointer;
				padding: 15px 10px;
				color: #e9e9e9;
				border-bottom: 1px solid rgba(100, 100, 100, 0.5);
				i{
					margin-right:1em;
					display: inline-block;
					width: 1em;
					
				}
			}
			li > span:hover{
				color:aliceblue;
			}
			/*li:focus,li:active{
				color: #039be5;
				background-color:#4a4a4a
			}*/
			li[selected] > span{
				color: #e1e1a3 !important;
			}
			li img{
				height: 31px;
				display: block;
				margin-left: .5em;
				margin-right: 1.0em;
			}
			
		}
	}
	&[creating], &[visible] {
		.menu-body{
			transform: translate3d(0,0,0);
			transition: transform ease 0.3s;
		}
		.backdrop{
			opacity: 1;
			transition: opacity ease 0.3s;
		}
	}
	&[deleting] {
		&.left .menu-body {
			transform: translate3d(-100%,0,0);
			transition: transform ease 0.3s;
		}
		&.right .menu-body {
			transform: translate3d(100%,0,0);
			transition: transform ease 0.3s;
		}
	}
}
