div#page-ToastPage {
	opacity: 0;
	&[visible], &[creating]{
		opacity: 1;
	}
	height: auto;

	&.bottom{
		bottom: 0;
	}
	&.top{
		top: 0;
	}
	&.middle{
		top: 45%;
	}
	.backdrop {
		display: flex;
	}
	.toast-box {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		padding: 12px;
		border-radius: 12px;
		display: inline-block;
		margin: 12px auto;
	}
}