
.page-ContextDropdown {
	width: auto;
    height: auto;
	//top: 300px;
	>.backdrop {
		position: relative;
		width: auto;
		display: block;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.50);
		>.popup {
			margin: 0;
			width: auto;
			border-radius: 0;
		}
	}
}