@import '../../scss/_variables';

#page-CallPhone{

	.items{
		background-color: #fff;
		right:10px;
		left:10px;
		margin-left: auto;
		margin-right: auto;
		min-width: 275px;
		.number{
			box-sizing: border-box;
			text-align: center;
			width: 100%;
			padding:10px 20px;
			font-size: 16px;
			color: #054877;
		}
		.call-buttons{
			display:flex;
			justify-content: center;
			a{
				text-align: center;
				margin:10px;
				text-decoration: none;
				font-size:20px;
				span.icon{
					display: block;
					width:90px;
					height:80px;
					background-size: contain;
					font-size:60px;
					color: #4CAF50;
				}
				span.text{
					display: block;
					text-align: center;
					color:black;
					//background-image: url(./../../img/call.png);
				}
				&:active {
					box-shadow: 0 0 4px #ffc107;
				}
			}
			
			a.call .icon{
				//background-image: url(./../../img/call.png);
			}
			a.text .icon{
				//background-image: url(./../../img/text.png);
				color: #FFC107;
			}
		}
	}
}